/* If you feel like your html is becoming dirty with alot of classes, use @apply multiple classes to one and use that */

* {
	--at-apply: font-sans;
}

.surface-container {
	background: var(--md-sys-color-surface-container);
}

.on-surface-container {
	color: var(--md-sys-color-on-surface)
}